# Folder
.cache/
bin/
build/
keys/
image/
projects/
.vscode/

# Commands
compile_commands.json
commands.md
launcher.sh

#misc file
gui_error.log

# Compilation trash
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.symvers
*.order
*.clangd

compile_flags.txt
.local.mk